.container-1, .container-3, .container-4, .container-5 {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    text-align: center;
}

.flexbox_container-1, .flex-box-rps, .flex-box-pick-color, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox_container-1 div {
    display: flex;
   padding: 10px; 
   border: 1px solid black;
   align-items: center;

}

.flex-box-rps img:hover{
    box-shadow:  0px 0px 10px 2px rgba(25,18,230,1);;
}

.flex-blackjack-row-2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
}

.flex-blackjack-row-1 div {
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    text-align: center;
    height: 350px;
 
}

.flex-blackjack-row-1 img {
    border-radius: 5%;
    width: 20%;
    padding: 5px;
    margin: 3px 3px ;
    background-color: white;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url(https://img.freepik.com/free-vector/poker-table-background-blue-color_47243-1095.jpg?size=626&ext=jpg);
    color: #ffffff;
}

table, th, td{
    padding: 5px;
    border: 1px solid black;
}